body.home {
	padding-bottom: 70%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.wrapper {
	max-width: 990px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
}

.logo {
	margin: 25px auto;
  font-family: 'Philosopher', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.navigation, .lower-navigation {
  font-family: sans-serif;
  text-align: center;
}

.navigation {
	border-top: 1px solid #DBDCDF;
  border-bottom: 1px solid #DBDCDF;
  margin: 25px auto 0 auto;
}

.navigation a, .lower-navigation a {
	text-decoration: none;
}

.navigation a {
	color: #8E949B;
	text-decoration: none;
}

.navigation a:hover {
	color: #214D7E;
}

.lower-navigation {
	margin: 25px auto 10px;
}

.lower-navigation a {
	color: #8E949B;
	font-size: 12px;
}

.lower-navigation a:hover {
	color: #FFFFFF;
}

.upper-link-list, .lower-link-list, .social-link-list {
	margin: 0;
}

.upper-link-list li, .lower-link-list li, .social-link-list li{
	display: inline-block;
}

.upper-link-list li {
	padding: 5px 10px;
}

.pipe {
	margin-left: 9px;
	margin-right: 9px;
	color: #dbdde0;
	font-size: 11px;
}

.hero {
	background-color: white;
	border: 1px solid #8E949B;
	margin: 25px auto 0 auto;
	height: 410px;
	width: 100%;
}

.tab-container {
	position: relative;
	width: 200px;
}

.tab-container a {
	color: #214D7E;
	cursor: pointer;
	display: block;
	text-decoration: none;
}

.tab-container a:hover {
	color: #FFFFFF;
}

.project-tab {
	background-color: #8E949B;
	border: 1px solid black;
	margin: 10px;
	text-align: center;
	width: 100%;
}


#big-square {
	background-color: #000;
  position: fixed;
  max-width: 610px;
  width: 100%;
	height: 700px;
	top: 123px;
	left: 50%;
	z-index: -1;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.contact-container {
  color: #8E949B;
  height: 310px;
	margin: 25px 0 0 0;
	padding: 25px;
  position: relative;
}

.contact-container h3 {
	color: #FFFFFF;
	font-family: sans-serif;
}

.contact-container input {
  background-color: rgba(255, 255, 255, 0.4);
	border: 0;
	margin: 10px 0;
	padding: 5px;
}

.contact-container input:not(:last-child), .contact-container textarea {
	width: 100%;
}

.contact-container textarea{
  background-color: rgba(255, 255, 255, 0.4);
	height: 70px;
	overflow: auto;
}

.contact-container input, .contact-container textarea {
	color: #FFFFFF;
	font-size: 14px;
}

.social-container {
  position: relative;
  text-align: center;
}

.social-link {
	height: 20px;
	width: 20px;
	background-size: 100% !important;
	margin: 0 10px;
}

#linkedin-icon {
	border: 1px solid #8E949B;
	background: url(./images/icons/linkedin_icon_grey.png)
}

#github-icon {
	border: 1px solid #8E949B;
	background: url(./images/icons/github_icon_grey.png)
}

#twitter-icon {
	border: 1px solid #8E949B;
	background: url(./images/icons/twitter_icon_grey.png)
}

#linkedin-icon:hover {
	border: 1px solid #FFFFFF;
	background: url(./images/icons/linkedin_icon_white.png)
}

#github-icon:hover {
	border: 1px solid #FFFFFF;
	background: url(./images/icons/github_icon_white.png)
}

#twitter-icon:hover {
	border: 1px solid #FFFFFF;
	background: url(./images/icons/twitter_icon_white.png)
}

.big-square, .navigation, .hero, .lower-navigation {
	min-width: 400px;
}

@media screen and (max-width: 1200px) {
	body.home {
		padding-bottom: 130%;
	}
}


@media screen and (max-width: 990px) {
	body.home {
		padding-bottom: 150%;
	}
}

@media screen and (max-width: 835px) {

	body.home {
		padding-bottom: 0;
	}

	#big-square {
		top: 558px;
		height: 460px;
	}

	.social-container {
		top: 5px;
	}

/*	.upper-link-list li:last-child, .lower-link-list li:last-child, .pipe:last-of-type{
		display: none;
	}*/

}

/* 12-column Grid System */
/*@media (min-width: 990px) {
	.col-1 {
		width: 8.334%;
	}

	.col-2 {
		width: 16.667%;
	}

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.333%;
	}

	.col-5 {
		width: 41.667%;
	}

	.col-6 {
		width: 50%;
	}

	.col-7 {
		width: 58.333%;
	}

	.col-8 {
		width: 66.666%;
	}

	.col-9 {
		width: 75.001%;
	}

	.col-10 {
		width: 83.334%;
	}

	.col-11 {
		width: 91.667%;
	}

	.col-12 {
		width: 100%;
	}
}*/